* {
    font-family: cursive;
}

h1 {
    text-align: center;
    background-color: blue;
    color: white;
    border: sold red;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 500px;
    border: sold red;

}

h3 {
    text-align: center;
    color: teal;
}



p {
    text-align: center;
    font-weight: bold;
}

.odin {
    color: darkorange;
}