h1 {
    text-align: center;
    font-size: 70px;
    color: brown;
    font-weight: bold;
}

.poridge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}

h3 {
    text-align: center;
    color: brown;
    font-size: 30px;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    background-image:
    url (images/oatmeal.jpg;
}